
body{
    font-family: "Amiri Quran";
    background: gray;
    border: solid black;
    border-radius: 20px;

}
h1{ display:inline;
    position: absolute;
    left: 44%;
    border: solid black;
    background: red;
    padding: 10px;

}
p{
    display: inline-block;
    position: relative;
    top: 10em;
    left: 45em;
    font-family: "Arial Black";




}
#test{

}
span{
display: inline;
    position: absolute;
    bottom: 60%;
    left: 30%;
    font-family: "Arial Black";
    border: solid black;
    background-color: red;

}
#liste{ display: inline-block;
    position: absolute;
    width: 100%;
    top: 50%;
    font-family:Arial ;
    border-radius: 10px;

}
#jeux{
    display: inline-block;
    position: absolute;
    left: 70%;
    border: solid blue;
}
#hobbies{
    display: inline-block;
    position: absolute;
    left: 50%;
    border: solid yellow;


}
#plats{
    display: inline-block;
    position: absolute;
    left: 30%;
    border: solid ;


}
#reseaux{
    display: inline-block;
    width: 100px;
        position: relative;
    top: 30em;
    left: 70%;
        border: solid black;
    border-radius: 10px;


}
#moi{
    display: inline-block;
    position: relative;
    left:30%;
    bottom: 2em;
}


