
body{

    background-color: gray;

}



h1{ display:inline;
    position: absolute;
    left: 44%;
    border: solid black;
    background: red;

}
p{
    display: inline-block;
    position: relative;
    top: 7em;
    left: 45em;
    font-family: "Arial Black";



}
a{
display: inline;
    position: absolute;
    bottom: 70%;
    left: 30%;
    font-family: "Arial Black";
    border: solid black;
    background-color: red;
}
#liste{ display: inline-block;
    position: absolute;
    width: 100%;
    top: 40%;
    font-family:Arial ;
    border-radius: 10px;

}




#jeux{
    display: inline-block;
    position: absolute;
    left: 70%;
    border: solid blue;
}
#hobbies{
    display: inline-block;
    position: absolute;
    left: 50%;
    border: solid yellow;


}
#plats{
    display: inline-block;
    position: absolute;
    left: 30%;
    border: solid black;

} #moi{
    position:absolute;
    display: inline-block;
    bottom: 110px;
    left: 30%;
  }
  #resaux{
      position: relative;
      top: 200px;

  }